# Discounted Cash Flow

In [1]:
import numpy as np
import pandas as pd

## What is the investment return I can expect if I invest my money?

<p align="center">
  <img src="https://render.githubusercontent.com/render/math?math=\LARGE FV_{t} = PV \times (1 %2B r_{t})^{t}"><br/>
  <img src="https://render.githubusercontent.com/render/math?math=FV_{t}:\Future+\value+\at+\time+\t"><br/>  
  <img src="https://render.githubusercontent.com/render/math?math=PV:\Present+\value"><br/> 
  <img src="https://render.githubusercontent.com/render/math?math=r_{t}:\interest+\rate+\at+\time+\t"><br/>
</p>

In [2]:
# calculate future value of money by multiplying the present
# value by the interest rate plus 1 raised to the length
# of your investment

# t == 1 year

print(f"${round(800000 * ((1 + .10)**1)):,}")

$880,000

## How much is the future $1,000,000 worth today?

<p align="center">
  <br/><img src="https://render.githubusercontent.com/render/math?math=\LARGE PV = \frac{FV_{t}}{(1 %2B r_{t})^t}"><br/>
  <img src="https://render.githubusercontent.com/render/math?math=PV:\Present+\value"><br/>  
  <img src="https://render.githubusercontent.com/render/math?math=FV_{t}:\Future+\value+\at+\time+\t"><br/>
  <img src="https://render.githubusercontent.com/render/math?math=r_{t}:\interest+\rate+\at+\time+\t"><br/>  
</p>

In [3]:
print(f"${round(1_000_000 / (1 + .10)**1):,}")

$909,091

# Business Case

Assume you have written a contract which:

- Receives $12,000 at the beginning of the first year from the client;

- Pays an estimate of $2,000 claims at the end each year to the client for five years;

- You can invest in US government bond which has an interest rate of 2.5%;

In [4]:
df = pd.DataFrame({
    "year": [0, 1, 2, 3, 4, 5],
    "cash_flows": [12000, -2000, -2000, -2000, -2000, -2000],
    "interest_rate": [0.025, 0.025, 0.025, 0.025, 0.025, 0.025]
})
df

   year  cash_flows  interest_rate
0     0       12000          0.025
1     1       -2000          0.025
2     2       -2000          0.025
3     3       -2000          0.025
4     4       -2000          0.025
5     5       -2000          0.025

In [5]:
df["discount_factor"] = 1 / (1 + df.interest_rate)**df.year

In [6]:
df

   year  cash_flows  interest_rate  discount_factor
0     0       12000          0.025         1.000000
1     1       -2000          0.025         0.975610
2     2       -2000          0.025         0.951814
3     3       -2000          0.025         0.928599
4     4       -2000          0.025         0.905951
5     5       -2000          0.025         0.883854

In [7]:
df["present_value"] = df.discount_factor * df.cash_flows
df

   year  cash_flows  interest_rate  discount_factor  present_value
0     0       12000          0.025         1.000000   12000.000000
1     1       -2000          0.025         0.975610   -1951.219512
2     2       -2000          0.025         0.951814   -1903.628792
3     3       -2000          0.025         0.928599   -1857.198822
4     4       -2000          0.025         0.905951   -1811.901290
5     5       -2000          0.025         0.883854   -1767.708575

In [8]:
print(f"${round(df.present_value.sum()):,}")

$2,708.0

In [9]:
# df.to_excel("discounted_cash_flow.xlsx", sheet_name="discounted_cash_flow")